.box-footer {
    display: none;
}
.box-header {
    display: none;
}
.box-success{
    border: none;
}

#printheader {
    display: block;
}
img {
    height: 100px;
    width: 100px;
    border: 0;
}

@page {
    margin: 0.5cm;
}

@media print {
    #powerbi-include {
        -moz-transform: scale(0.70, 0.70); 
        -webkit-transform: scale(0.70, 0.70); 
        -o-transform: scale(0.70, 0.70);
        -ms-transform: scale(0.70, 0.70);
        transform: scale(0.70, 0.70); 
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
}