<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeIGA</servlet-name>
        <servlet-class>controller.EncodeIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIGA</servlet-name>
        <servlet-class>controller.ViewIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProgramList</servlet-name>
        <servlet-class>controller.ViewProgramList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCurriculumList</servlet-name>
        <servlet-class>controller.ViewCurriculumList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseList</servlet-name>
        <servlet-class>controller.ViewCourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateProgram</servlet-name>
        <servlet-class>controller.ViewCreateProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateCurriculum</servlet-name>
        <servlet-class>controller.ViewCreateCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateCourse</servlet-name>
        <servlet-class>controller.ViewCreateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreateProgram</servlet-name>
        <servlet-class>controller.RedirectToCreateProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToProgramList</servlet-name>
        <servlet-class>controller.RedirectToProgramList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCourse</servlet-name>
        <servlet-class>controller.GetAllCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCollegeByProgram</servlet-name>
        <servlet-class>controller.GetCollegeByProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProgramByCollege</servlet-name>
        <servlet-class>controller.GetProgramByCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllColleges</servlet-name>
        <servlet-class>controller.GetAllColleges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePA</servlet-name>
        <servlet-class>controller.RedirectToCreatePA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePO</servlet-name>
        <servlet-class>controller.RedirectToCreatePO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePI</servlet-name>
        <servlet-class>controller.RedirectToCreatePI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToMapPAtoIGA</servlet-name>
        <servlet-class>controller.RedirectToMapPAtoIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToMapPOtoPA</servlet-name>
        <servlet-class>controller.RedirectToMapPOtoPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchMapPAtoIGA</servlet-name>
        <servlet-class>controller.RedirectToSearchMapPAtoIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchMapPOtoPA</servlet-name>
        <servlet-class>controller.RedirectToSearchMapPOtoPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPA</servlet-name>
        <servlet-class>controller.RedirectToSearchPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPI</servlet-name>
        <servlet-class>controller.RedirectToSearchPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPO</servlet-name>
        <servlet-class>controller.RedirectToSearchPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllApprover</servlet-name>
        <servlet-class>controller.GetAllApprover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeProgram</servlet-name>
        <servlet-class>controller.EncodeProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPA</servlet-name>
        <servlet-class>controller.GetAllPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastPA</servlet-name>
        <servlet-class>controller.GetLastPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePA</servlet-name>
        <servlet-class>controller.EncodePA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseByCode</servlet-name>
        <servlet-class>controller.GetCourseByCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastPO</servlet-name>
        <servlet-class>controller.GetLastPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPO</servlet-name>
        <servlet-class>controller.GetAllPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePO</servlet-name>
        <servlet-class>controller.EncodePO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCourseList</servlet-name>
        <servlet-class>controller.GetAllCourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCourse</servlet-name>
        <servlet-class>controller.EncodeCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeIGA</servlet-name>
        <url-pattern>/EncodeIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIGA</servlet-name>
        <url-pattern>/ViewIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProgramList</servlet-name>
        <url-pattern>/ViewProgramList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCurriculumList</servlet-name>
        <url-pattern>/ViewCurriculumList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseList</servlet-name>
        <url-pattern>/ViewCourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateProgram</servlet-name>
        <url-pattern>/ViewCreateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateCurriculum</servlet-name>
        <url-pattern>/ViewCreateCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateCourse</servlet-name>
        <url-pattern>/ViewCreateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreateProgram</servlet-name>
        <url-pattern>/RedirectToCreateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToProgramList</servlet-name>
        <url-pattern>/RedirectToProgramList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCourse</servlet-name>
        <url-pattern>/GetAllCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCollegeByProgram</servlet-name>
        <url-pattern>/GetCollegeByProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProgramByCollege</servlet-name>
        <url-pattern>/GetProgramByCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllColleges</servlet-name>
        <url-pattern>/GetAllColleges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePA</servlet-name>
        <url-pattern>/RedirectToCreatePA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePO</servlet-name>
        <url-pattern>/RedirectToCreatePO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePI</servlet-name>
        <url-pattern>/RedirectToCreatePI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToMapPAtoIGA</servlet-name>
        <url-pattern>/RedirectToMapPAtoIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToMapPOtoPA</servlet-name>
        <url-pattern>/RedirectToMapPOtoPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchMapPAtoIGA</servlet-name>
        <url-pattern>/RedirectToSearchMapPAtoIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchMapPOtoPA</servlet-name>
        <url-pattern>/RedirectToSearchMapPOtoPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPA</servlet-name>
        <url-pattern>/RedirectToSearchPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPI</servlet-name>
        <url-pattern>/RedirectToSearchPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPO</servlet-name>
        <url-pattern>/RedirectToSearchPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllApprover</servlet-name>
        <url-pattern>/GetAllApprover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeProgram</servlet-name>
        <url-pattern>/EncodeProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPA</servlet-name>
        <url-pattern>/GetAllPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastPA</servlet-name>
        <url-pattern>/GetLastPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePA</servlet-name>
        <url-pattern>/EncodePA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseByCode</servlet-name>
        <url-pattern>/GetCourseByCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastPO</servlet-name>
        <url-pattern>/GetLastPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPO</servlet-name>
        <url-pattern>/GetAllPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePO</servlet-name>
        <url-pattern>/EncodePO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCourseList</servlet-name>
        <url-pattern>/GetAllCourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCourse</servlet-name>
        <url-pattern>/EncodeCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
