<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeIGA</servlet-name>
        <servlet-class>controller.EncodeIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIGA</servlet-name>
        <servlet-class>controller.ViewIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProgramList</servlet-name>
        <servlet-class>controller.ViewProgramList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCurriculumList</servlet-name>
        <servlet-class>controller.ViewCurriculumList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseList</servlet-name>
        <servlet-class>controller.ViewCourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateProgram</servlet-name>
        <servlet-class>controller.ViewCreateProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateCurriculum</servlet-name>
        <servlet-class>controller.ViewCreateCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateCourse</servlet-name>
        <servlet-class>controller.ViewCreateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreateProgram</servlet-name>
        <servlet-class>controller.RedirectToCreateProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToProgramList</servlet-name>
        <servlet-class>controller.RedirectToProgramList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCourse</servlet-name>
        <servlet-class>controller.GetAllCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCollegeByProgram</servlet-name>
        <servlet-class>controller.GetCollegeByProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProgramByCollege</servlet-name>
        <servlet-class>controller.GetProgramByCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllColleges</servlet-name>
        <servlet-class>controller.GetAllColleges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePA</servlet-name>
        <servlet-class>controller.RedirectToCreatePA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePO</servlet-name>
        <servlet-class>controller.RedirectToCreatePO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreatePI</servlet-name>
        <servlet-class>controller.RedirectToCreatePI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPA</servlet-name>
        <servlet-class>controller.RedirectToSearchPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPI</servlet-name>
        <servlet-class>controller.RedirectToSearchPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchPO</servlet-name>
        <servlet-class>controller.RedirectToSearchPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllApprover</servlet-name>
        <servlet-class>controller.GetAllApprover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeProgram</servlet-name>
        <servlet-class>controller.EncodeProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPA</servlet-name>
        <servlet-class>controller.GetAllPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastPA</servlet-name>
        <servlet-class>controller.GetLastPA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePA</servlet-name>
        <servlet-class>controller.EncodePA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseByCode</servlet-name>
        <servlet-class>controller.GetCourseByCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastPO</servlet-name>
        <servlet-class>controller.GetLastPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPO</servlet-name>
        <servlet-class>controller.GetAllPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePO</servlet-name>
        <servlet-class>controller.EncodePO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCourseList</servlet-name>
        <servlet-class>controller.GetAllCourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCourse</servlet-name>
        <servlet-class>controller.EncodeCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllIGA</servlet-name>
        <servlet-class>controller.GetAllIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToSearchCO</servlet-name>
        <servlet-class>controller.RedirectToSearchCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCO</servlet-name>
        <servlet-class>controller.GetAllCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllType</servlet-name>
        <servlet-class>controller.GetAllType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastAssessment</servlet-name>
        <servlet-class>controller.GetLastAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCurriculum</servlet-name>
        <servlet-class>controller.EncodeCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastIGA</servlet-name>
        <servlet-class>controller.GetLastIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewProgram</servlet-name>
        <servlet-class>controller.RedirectToViewProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificProgram</servlet-name>
        <servlet-class>controller.GetSpecificProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToEditProgram</servlet-name>
        <servlet-class>controller.RedirectToEditProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificCourse</servlet-name>
        <servlet-class>controller.GetSpecificCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewCourse</servlet-name>
        <servlet-class>controller.RedirectToViewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleMapPAtoIGA</servlet-name>
        <servlet-class>controller.SampleMapPAtoIGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCurriculum</servlet-name>
        <servlet-class>controller.GetAllCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewCurriculum</servlet-name>
        <servlet-class>controller.RedirectToViewCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificCurriculum</servlet-name>
        <servlet-class>controller.GetSpecificCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificMapCurriculumToCourse</servlet-name>
        <servlet-class>controller.GetSpecificMapCurriculumToCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToEditCurriculum</servlet-name>
        <servlet-class>controller.RedirectToEditCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificMapCourseToProgram</servlet-name>
        <servlet-class>controller.GetSpecificMapCourseToProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificPO</servlet-name>
        <servlet-class>controller.GetSpecificPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePI</servlet-name>
        <servlet-class>controller.EncodePI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastPI</servlet-name>
        <servlet-class>controller.GetLastPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMapPItoPO</servlet-name>
        <servlet-class>controller.GetAllMapPItoPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCoursesOnProgram</servlet-name>
        <servlet-class>controller.GetCoursesOnProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToMapCurriculum</servlet-name>
        <servlet-class>controller.RedirectToMapCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllPIforCurriculum</servlet-name>
        <servlet-class>controller.GetAllPIforCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeMapCurriculumToPI</servlet-name>
        <servlet-class>controller.EncodeMapCurriculumToPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMapCurriculumToPI</servlet-name>
        <servlet-class>controller.GetMapCurriculumToPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewSyllabusList</servlet-name>
        <servlet-class>controller.RedirectToViewSyllabusList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreateSyllabus</servlet-name>
        <servlet-class>controller.RedirectToCreateSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPIforCO</servlet-name>
        <servlet-class>controller.GetPIforCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSyllabus</servlet-name>
        <servlet-class>controller.EncodeSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSyllabus</servlet-name>
        <servlet-class>controller.GetAllSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToOfferingsList</servlet-name>
        <servlet-class>controller.RedirectToOfferingsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllFaculty</servlet-name>
        <servlet-class>controller.GetAllFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToCreateOffering</servlet-name>
        <servlet-class>controller.RedirectToCreateOffering</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRoom</servlet-name>
        <servlet-class>controller.GetAllRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificSyllabus</servlet-name>
        <servlet-class>controller.GetSpecificSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCourseOffering</servlet-name>
        <servlet-class>controller.EncodeCourseOffering</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllOfferings</servlet-name>
        <servlet-class>controller.GetAllOfferings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTrimester</servlet-name>
        <servlet-class>controller.GetAllTrimester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllYearLevel</servlet-name>
        <servlet-class>controller.GetAllYearLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCO</servlet-name>
        <servlet-class>controller.EncodeCO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMapCurID</servlet-name>
        <servlet-class>controller.GetMapCurID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeAssessment</servlet-name>
        <servlet-class>controller.EncodeAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCOofSyllabus</servlet-name>
        <servlet-class>controller.GetAllCOofSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAssessmentOfSyllabus</servlet-name>
        <servlet-class>controller.GetAllAssessmentOfSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewSyllabus</servlet-name>
        <servlet-class>controller.RedirectToViewSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToChooseSyllabus</servlet-name>
        <servlet-class>controller.RedirectToChooseSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpecificOffering</servlet-name>
        <servlet-class>controller.GetSpecificOffering</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectToViewCourseOffering</servlet-name>
        <servlet-class>controller.RedirectToViewCourseOffering</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentColumnNames</servlet-name>
        <servlet-class>controller.GetStudentColumnNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssessmentForFormat</servlet-name>
        <servlet-class>controller.GetAssessmentForFormat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEnrolledStudents</servlet-name>
        <servlet-class>controller.GetEnrolledStudents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeIGA</servlet-name>
        <url-pattern>/EncodeIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIGA</servlet-name>
        <url-pattern>/ViewIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProgramList</servlet-name>
        <url-pattern>/ViewProgramList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCurriculumList</servlet-name>
        <url-pattern>/ViewCurriculumList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseList</servlet-name>
        <url-pattern>/ViewCourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateProgram</servlet-name>
        <url-pattern>/ViewCreateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateCurriculum</servlet-name>
        <url-pattern>/ViewCreateCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateCourse</servlet-name>
        <url-pattern>/ViewCreateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreateProgram</servlet-name>
        <url-pattern>/RedirectToCreateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToProgramList</servlet-name>
        <url-pattern>/RedirectToProgramList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCourse</servlet-name>
        <url-pattern>/GetAllCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCollegeByProgram</servlet-name>
        <url-pattern>/GetCollegeByProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProgramByCollege</servlet-name>
        <url-pattern>/GetProgramByCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllColleges</servlet-name>
        <url-pattern>/GetAllColleges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePA</servlet-name>
        <url-pattern>/RedirectToCreatePA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePO</servlet-name>
        <url-pattern>/RedirectToCreatePO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreatePI</servlet-name>
        <url-pattern>/RedirectToCreatePI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPA</servlet-name>
        <url-pattern>/RedirectToSearchPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPI</servlet-name>
        <url-pattern>/RedirectToSearchPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchPO</servlet-name>
        <url-pattern>/RedirectToSearchPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllApprover</servlet-name>
        <url-pattern>/GetAllApprover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeProgram</servlet-name>
        <url-pattern>/EncodeProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPA</servlet-name>
        <url-pattern>/GetAllPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastPA</servlet-name>
        <url-pattern>/GetLastPA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePA</servlet-name>
        <url-pattern>/EncodePA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseByCode</servlet-name>
        <url-pattern>/GetCourseByCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastPO</servlet-name>
        <url-pattern>/GetLastPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPO</servlet-name>
        <url-pattern>/GetAllPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePO</servlet-name>
        <url-pattern>/EncodePO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCourseList</servlet-name>
        <url-pattern>/GetAllCourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCourse</servlet-name>
        <url-pattern>/EncodeCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllIGA</servlet-name>
        <url-pattern>/GetAllIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToSearchCO</servlet-name>
        <url-pattern>/RedirectToSearchCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCO</servlet-name>
        <url-pattern>/GetAllCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllType</servlet-name>
        <url-pattern>/GetAllType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastAssessment</servlet-name>
        <url-pattern>/GetLastAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCurriculum</servlet-name>
        <url-pattern>/EncodeCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastIGA</servlet-name>
        <url-pattern>/GetLastIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewProgram</servlet-name>
        <url-pattern>/RedirectToViewProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificProgram</servlet-name>
        <url-pattern>/GetSpecificProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToEditProgram</servlet-name>
        <url-pattern>/RedirectToEditProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificCourse</servlet-name>
        <url-pattern>/GetSpecificCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewCourse</servlet-name>
        <url-pattern>/RedirectToViewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleMapPAtoIGA</servlet-name>
        <url-pattern>/SampleMapPAtoIGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCurriculum</servlet-name>
        <url-pattern>/GetAllCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewCurriculum</servlet-name>
        <url-pattern>/RedirectToViewCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificCurriculum</servlet-name>
        <url-pattern>/GetSpecificCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificMapCurriculumToCourse</servlet-name>
        <url-pattern>/GetSpecificMapCurriculumToCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToEditCurriculum</servlet-name>
        <url-pattern>/RedirectToEditCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificMapCourseToProgram</servlet-name>
        <url-pattern>/GetSpecificMapCourseToProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificPO</servlet-name>
        <url-pattern>/GetSpecificPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePI</servlet-name>
        <url-pattern>/EncodePI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastPI</servlet-name>
        <url-pattern>/GetLastPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMapPItoPO</servlet-name>
        <url-pattern>/GetAllMapPItoPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCoursesOnProgram</servlet-name>
        <url-pattern>/GetCoursesOnProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToMapCurriculum</servlet-name>
        <url-pattern>/RedirectToMapCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPIforCurriculum</servlet-name>
        <url-pattern>/GetAllPIforCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeMapCurriculumToPI</servlet-name>
        <url-pattern>/EncodeMapCurriculumToPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMapCurriculumToPI</servlet-name>
        <url-pattern>/GetMapCurriculumToPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewSyllabusList</servlet-name>
        <url-pattern>/RedirectToViewSyllabusList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreateSyllabus</servlet-name>
        <url-pattern>/RedirectToCreateSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPIforCO</servlet-name>
        <url-pattern>/GetPIforCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSyllabus</servlet-name>
        <url-pattern>/EncodeSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSyllabus</servlet-name>
        <url-pattern>/GetAllSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToOfferingsList</servlet-name>
        <url-pattern>/RedirectToOfferingsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllFaculty</servlet-name>
        <url-pattern>/GetAllFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToCreateOffering</servlet-name>
        <url-pattern>/RedirectToCreateOffering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllRoom</servlet-name>
        <url-pattern>/GetAllRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificSyllabus</servlet-name>
        <url-pattern>/GetSpecificSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCourseOffering</servlet-name>
        <url-pattern>/EncodeCourseOffering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllOfferings</servlet-name>
        <url-pattern>/GetAllOfferings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTrimester</servlet-name>
        <url-pattern>/GetAllTrimester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllYearLevel</servlet-name>
        <url-pattern>/GetAllYearLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCO</servlet-name>
        <url-pattern>/EncodeCO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMapCurID</servlet-name>
        <url-pattern>/GetMapCurID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeAssessment</servlet-name>
        <url-pattern>/EncodeAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCOofSyllabus</servlet-name>
        <url-pattern>/GetAllCOofSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAssessmentOfSyllabus</servlet-name>
        <url-pattern>/GetAllAssessmentOfSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewSyllabus</servlet-name>
        <url-pattern>/RedirectToViewSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToChooseSyllabus</servlet-name>
        <url-pattern>/RedirectToChooseSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpecificOffering</servlet-name>
        <url-pattern>/GetSpecificOffering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectToViewCourseOffering</servlet-name>
        <url-pattern>/RedirectToViewCourseOffering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentColumnNames</servlet-name>
        <url-pattern>/GetStudentColumnNames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAssessmentForFormat</servlet-name>
        <url-pattern>/GetAssessmentForFormat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnrolledStudents</servlet-name>
        <url-pattern>/GetEnrolledStudents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
